.header__redes {
    display: flex;
    align-items: center;
    width: 150px;
    height: 90%;
}

    .header__redes-icon {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        font-size: 25px;
    }

        .redes_icon-i {
            color: #000;
            margin: 0px 5px;
        }

        .redes_icon-i:hover {
            color: var(--color-principal);
        }