.portada {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 25px;
}
	
	.portada__titulo span {
		color: var(--color-principal);
		font-size: 40px;
		margin: 7px 0px;
	}

	.portada__btn {
		background-color: var(--color-principal);
		color: #FFF;
		border: none;
		border-radius: 3px;
		height: 30px;
		width: 110px;
		font-size: 15px;
		margin: 7px 0px;
		cursor: pointer;
	}

		.portada__btn:hover {
			position: relative;
			color: var(--color-principal);
			background-color: #FFF;
			border: 1px solid var(--color-principal);
		}

	.portada__img {
		height: 320px;
		background-color: var(--color-principal);
		border-radius: 31% 69% 56% 44% / 22% 41% 59% 78%;
	}