<div class="header__menu">
    <ul class="header__menu-item" id="header__menu-item">
        <li class="menu__item-li"><a class="menu__item-a" href="#">Inicio</a></li>
        <li class="menu__item-li"><a class="menu__item-a" href="#acercaDe">Acerca de</a></li>
        <li class="menu__item-li"><a class="menu__item-a" href="#experiencia">Experiencia</a></li>
        <li class="menu__item-li"><a class="menu__item-a" href="#educacion">Educacion</a></li>
        <li class="menu__item-li"><a class="menu__item-a" href="#habilidades">Habilidades</a></li>
        <li class="menu__item-li"><a class="menu__item-a" href="#proyectos">Proyectos</a></li>
    </ul>
</div>
